ADMIN_API_KEY=dev-admin-key
ASPNETCORE_ENVIRONMENT=Development
LICENSE_DB=Server=92.38.49.47;user id=root;password=Asd+12345678;database=cleverpos;charset=utf8;default command timeout=1200;SslMode=none;AllowPublicKeyRetrieval=True
